.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    background: linear-gradient(var(--color-primary-dark), var(--color-background-extra-light));
    height: 15vh;

}

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--color-primary-dark);
}

.nav__list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.list__item button {
    background-color: var(--color-primary-dark);
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    text-decoration: none;
    width: 7rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
}

.list__item button:hover {
    box-shadow: 0px 10px 10px -2px rgba(92, 125, 210, 0.5), /* Top */
              10px 0px 10px -2px rgba(92, 125, 210, 0.5), /* Right */
              0px -4px 10px -2px rgba(92, 125, 210, 0.5), /* Bottom */
              -4px 0px 10px -2px rgba(92, 125, 210, 0.5); /* Left */
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


@media screen and (max-width: 700px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-background-light);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav__list {
        flex-direction: column;
        align-items: end;
    }
}