* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Modo Claro */
  --color-primary-dark: #5c7dd2;
  --color-primary: #6587d9;
  --color-accent: #8dabe3;
  --color-secondary: #9ebde3;
  --color-background-light: #c9d2ee;
  --color-background-light-modal: #5c7dd29b;
  --color-background-extra-light: #e4e5fb;

  /* Modo Oscuro */
  --color-background-dark: #1A2238;
  --color-primary-dark: #3A4750;
  --color-secondary-dark: #5B6E7D;
  --color-accent-dark: #8795A1;
  --color-text-light: #E4E5FB;
}